@model TodoItem

<form asp-action="AddItem" method="post">
    <div class="card">
        <h5 class="card-header">New Todo Item:</h5>
        <div class="card-body">
        <div class="container">
            <div class="input-group input-group-sm mb-3">
                <div class="col-12 col-md-1">
                    <label asp-for="Title" asp-validation>Title</label>
                </div>
                <div class="col-12 col-md-4">
                    <input asp-for="Title" class="form-control">
                </div>
            </div>

            <div class="input-group input-group-sm mb-3">
                <div class="col-12 col-md-1">
                    <label asp-for="Title">Due At</label>
                </div>
                <div class="col-12 col-md-4">
                    <input asp-for="DueAt" type="date" value="@DateTimeOffset.Now.AddDays(3)" class="form-control">
                </div>
            </div>

            <div class="input-group input-group-sm mb-3 justify-content-center">
                <div class="col align-self-center">
                    <button class="btn btn-primary" style="width: 120px;" type="submit">Add</button>
                </div>
            </div>

        </div>
    </div>

</form>